<%= form_with model: book, local:true do |f| %>
  <div class="form-group">
    <p>Title</p>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <p>Opinion</p>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Create Book" %>
<% end %>