<h2>Books</h2>

<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <tr>
        <td></td>
        <td>
          <%= book.title %>
        </td>
        <td>
          <%= book.opinion %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>